<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.webServer>
    <defaultDocument>
      <files>
        <remove value="Default.htm" />
        <remove value="Default.asp" />
        <remove value="index.htm" />
        <remove value="index.html" />
        <remove value="Default.aspx" />
        <remove value="iisstart.htm" />
        <remove value="home.asp" />
        <remove value="Login.aspx" />
        <remove value="Login.html" />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Oracle.DataAccess, Version=4.112.2.0, Culture=neutral, PublicKeyToken=89B483F429C47342"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="webopt" assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms"  />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=ENGGDB;Password=iims#Admin;User ID=IIMS"/>-->
    <add name="EILPF_ODP" connectionString="Data Source=acctdev;Password=eilpf;User ID=EILPF"/>
    <add name="strConn" connectionString="Data Source=scan-engg.eil.co.in/ENGGDB;Persist Security Info=True;Password=iims#Admin;User ID=IIMS;" providerName="System.Data.OracleClient"/>
    <!--<add name="strConn" connectionString="Data Source=ENGGDB;Password=iims#Admin;User ID=IIMS"/>-->
  </connectionStrings>
  <appSettings>
    <add key="strConn" value="Data Source=scan-engg.eil.co.in/ENGGDB;Persist Security Info=True;Password=iims#Admin;User ID=IIMS;"/>
    <!--<add key="strconn" value="Data Source=ENGGDB;Password=iims#Admin;User ID=IIMS;"/>-->
  </appSettings>
</configuration>