<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <pages>
      <controls>
        <add tagPrefix="webopt" assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms"  />
      </controls>
    </pages>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=ENGGDB;Password=iims#Admin;User ID=IIMS"/>-->
    <add name="strConn" connectionString="Data Source=scan-engg.eil.co.in/ENGGDB;Persist Security Info=True;Password=iims#Admin;User ID=IIMS;" providerName="System.Data.OracleClient"/>
    <!--<add name="strConn" connectionString="Data Source=ENGGDB;Password=iims#Admin;User ID=IIMS"/>-->
  </connectionStrings>
  <appSettings>
    <add key="strConn" value="Data Source=scan-engg.eil.co.in/ENGGDB;Persist Security Info=True;Password=iims#Admin;User ID=IIMS;"/>
    <!--<add key="strconn" value="Data Source=ENGGDB;Password=iims#Admin;User ID=IIMS;"/>-->
  </appSettings>
</configuration>